[submodule "bundle/quicktask"]
	path = bundle/quicktask
	url = https://github.com/aaronbieber/quicktask.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/seoul256.vim"]
	path = bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
